.primary-nav{
  z-index: 10;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(225,225,225,0.9);
}

.primary-nav ul{
  padding: 0;
  margin: 0;
}

.primary-nav li{
  display: inline;
  font-size: 1em;
}
.primary-nav a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}
.primary-nav a:hover{
  background: rgba(100, 100, 100, 0.5);
}

.page {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 0;
  border-bottom: 20px solid blue;
}
